.yh-switch {
  width: remSize(90);
  height: remSize(52);
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: remSize(32);
  border-top-left-radius: remSize(32);
  border-top-right-radius: remSize(32);
  border-bottom-left-radius: remSize(32);
  border-bottom-right-radius: remSize(32);
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none; }
  .yh-switch:before {
    content: '';
    width: remSize(44);
    height: remSize(44);
    position: absolute;
    top: remSize(2);
    left: 0;
    border-radius: remSize(22);
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); }
  .yh-switch:checked {
    border-color: #ff8080;
    box-shadow: #ff8080 0 0 0 16px inset;
    background-color: #ff8080; }
    .yh-switch:checked:before {
      left: remSize(41); }
  .yh-switch.yh-switch-animbg {
    transition: background-color ease 0.4s; }
    .yh-switch.yh-switch-animbg:before {
      transition: left 0.3s; }
    .yh-switch.yh-switch-animbg:checked {
      box-shadow: #dfdfdf 0 0 0 0 inset;
      background-color: #ff8080;
      transition: border-color 0.4s, background-color ease 0.4s; }
      .yh-switch.yh-switch-animbg:checked:before {
        transition: left 0.3s; }
  .yh-switch.yh-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; }
    .yh-switch.yh-switch-anim:before {
      transition: left 0.3s; }
    .yh-switch.yh-switch-anim:checked {
      box-shadow: #ff8080 0 0 0 16px inset;
      background-color: #ff8080;
      transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; }
      .yh-switch.yh-switch-anim:checked:before {
        transition: left 0.3s; }

.yhj-swi-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: remSize(104);
  height: remSize(64);
  border: 1px solid #DFDFDF;
  outline: 0;
  border-radius: remSize(32);
  box-sizing: border-box;
  background: #DFDFDF;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  display: inline-block;
  text-align: start; }

.yhj-swi-btn:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: remSize(100);
  height: remSize(60);
  border-radius: 15px;
  background-color: #FDFDFD;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s; }

.yhj-swi-btn:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: remSize(60);
  height: remSize(60);
  border-radius: remSize(30);
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s; }

.yhj-swi-btn:checked {
  border-color: #ff8080;
  background-color: #ff8080; }

.yhj-swi-btn:checked:before {
  -webkit-transform: scale(0);
  transform: scale(0); }

.yhj-swi-btn:checked:after {
  -webkit-transform: translateX(remSize(40));
  transform: translateX(remSize(40)); }

.mui-switch {
  position: relative;
  display: block;
  width: remSize(115);
  height: remSize(62);
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: background-color, border;
  transition-property: background-color, border;
  border: 2px solid #ddd;
  border-radius: remSize(35);
  background-color: #fff;
  background-clip: padding-box; }

.mui-switch .mui-switch-handle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: -1px;
  width: remSize(58);
  height: remSize(58);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transition-property: -webkit-transform, remSize(65), left;
  transition-property: transform, remSize(65), left;
  border-radius: remSize(29);
  background-color: #fff;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4); }

.mui-switch-mini {
  width: 47px; }

.mui-switch-mini:before {
  display: none; }

.mui-switch-mini.mui-active .mui-switch-handle {
  -webkit-transform: translate(16px, 0);
  transform: translate(16px, 0); }

/*# sourceMappingURL=patientRelationController.css.map */
